{% extends 'base.html' %}

{% block title %}Password Reset Confirmation - My Website{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Password Reset Confirmation</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Confirm Password Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
