{% extends 'base.html' %}

{% block title %}User Profile - My Website{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">User Profile</div>
                <div class="card-body">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Bio:</strong> {{ user.bio }}</p>
                    <p><strong>Website:</strong> <a href="{{ user.website }}">{{ user.website }}</a></p>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}